[submodule "libs/my-lib"]
	path = libs/my-lib
	url = https://github.com/Human-Intelligence-Team/HIT-HRadar-Core
[submodule "HIT-HRadar"]
	path = HIT-HRadar
	url = https://github.com/Human-Intelligence-Team/HIT-HRadar-Core
[submodule "HIT-HRadar-Core"]
	path = HIT-HRadar-Core
	url = https://github.com/Human-Intelligence-Team/HIT-HRadar-Core
[submodule "HIT-HRadar-FE"]
	path = HIT-HRadar-FE
	url = https://github.com/Human-Intelligence-Team/HIT-HRadar-FE
[submodule "HIT-HRadar-Notification"]
	path = HIT-HRadar-Notification
	url = https://github.com/Human-Intelligence-Team/HIT-HRadar-Notification
[submodule "HIT-HRadar-Chatbot"]
	path = HIT-HRadar-Chatbot
	url = https://github.com/Human-Intelligence-Team/HIT-HRadar-Chatbot
[submodule "HIT-HRadar-Auth"]
	path = HIT-HRadar-Auth
	url = https://github.com/Human-Intelligence-Team/HIT-HRadar-Auth
[submodule "HIT-HRadar-Gateway"]
	path = HIT-HRadar-Gateway
	url = https://github.com/Human-Intelligence-Team/HIT-HRadar-Gateway
